.headStyle {
    color: "white";
    background-color: "DodgerBlue";
    padding: "10px";
    font-family: "Arial";                
    font-size: "10px";
    }
  
    .picFormat {
      padding: "100px";
      background-color: "DodgerBlue";
  
    }